#ipt{
    width: 350px;
    border-radius: 20px;
    padding-left: 50px;
    border: none;
}
#searche{
    font-size: 1.80em;
    position: relative;
    left: 20px;
    top: 30px;
}

#followers{
    display: flex;
    justify-content: space-between;

}
#foll-img{
    border-radius: 360px;
    height: 42px;
}
   
#div-profile{
    display: flex;
    gap: 10px;
}
#gmail{
    position: relative;
    bottom: 20px;
}
#btn{
    width: 100px;
    border-radius: 20px;
    background: #000;
    color: white;
}